<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Detaisl</title>
  </head>
  <body>
    <h1>Welome to my Detail</h1>
    <nav>
      <div class="first">
        <h2><a href="/"><%= currentDir %></a></h2>
        <h3><%= error %></h3>
      </div>
    </nav>
    <div class="not-found content">OOPS, something went wrong :(</div>
  </body>
</html>
