<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Detaisl</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous"
  />

  <!-- Optional theme -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ"
    crossorigin="anonymous"
  />

  <!-- Latest compiled and minified JavaScript -->
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"
  ></script>
  <style>
    body {
      color: rgb(0, 0, 0);
      font-family: Arial, Helvetica, sans-serif;
      margin: 0px;
      padding: 0px;
    }
    nav {
      list-style-type: none;
      display: flex;
      margin: 0px;
      padding: 0px;
      justify-content: space-between;
    }
    nav li {
      display: inline-block;
      margin-inline-start: 60px;
      margin: 20px;
      padding: 10px;
    }
    button {
      width: 150px;
      background-color: white;
      border: white;
    }
    p,
    h1,
    h2,
    h5,
    a,
    ul {
      margin: 0px;
      padding: 0px;
      columns: #222222;
      text-decoration: none;
    }
    h1 {
      text-align: center;
      font-size: 3em;
      margin: 10px;
      border-bottom: red 5px ridge;
      color: rebeccapurple;
    }
    a {
      border-bottom: 2px red solid;
    }
  </style>
</head>
