<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Detaisl</title>
  </head>
  <body>
    <h1>Welome to my Detail</h1>
    <nav>
      <div class="first">
        <h2><a href="/">My Folder</a></h2>
        <ul>
          <li>
            <a href="my-website"
              ><button>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
                  />
                </svg>
                <h5>My Wepsite</h5>
              </button></a
            >
          </li>
          <li>
            <a href="/test"
              ><button>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
                  />
                </svg>
                <h5>Test</h5>
              </button></a
            >
          </li>
          <li>
            <a href="/try-again"
              ><button>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
                  />
                </svg>
                <h5>Try Again</h5>
              </button></a
            >
          </li>
          <li>
            <a href="/projeckts"
              ><button>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
                  />
                </svg>
                <h5>Projeckts</h5>
              </button></a
            >
          </li>
          <li>
            <a href="/node-js"
              ><button>
                <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z"
                  />
                </svg>
                <h5>Node Js</h5>
              </button></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h2>Projeckts Detail</h2>
    </div>
  </body>
</html>
