<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Detaisl</title>
  </head>
  <body>
    <h1>Welome to my Detail</h1>
    <nav>
      <div class="first">
        <h2><a href="/">My Folder</a></h2>
        <ul>
          <li><a href="my-website">My Web-Site</a></li>
          <li><a href="/test">Test</a></li>
          <li><a href="/try-again">Try-Agin</a></li>
          <li><a href="/projeckts">projeckts</a></li>
          <li><a href="/node-js">Node-js</a></li>
        </ul>
      </div>
    </nav>
    <div>
      <h2>Test Folder Detail</h2>
    </div>
  </body>
</html>
